#ignore everything
/*
#allow some files
!.gitignore
!.bash_profile
!.bashrc
!.pam_environment
!.profile
!README.md

#allow some files in subdirectories
#!/.config
#/.config/*
#!/.config/systemd/user/ssh-agent.service


#allow some directories
