#ignore everything
/*
#allow some files
!.gitignore
!.bash_profile
!.bashrc
!.pam_environment
!.profile
!.zprofile
!README.md
!.vimrc
!.inputrc
!.zshrc

#allow some files in subdirectories
!/.config/
.config/*
!/.config/alacritty/
.config/alacritty/*
!/.config/alacritty/alacritty.yml
!/.config/alias/
.config/alias/*
!/.config/alias/bashalias
!/.config/alias/zshalias

!/.config/fontconfig/
.config/fontconfig/*
!/.config/fontconfig/fonts.conf

!/.config/i3/
!/.config/sway
!/.config/nvim/init.vim

!/.config/i3status/
.config/i3status/*
!/.config/i3status/config

!/.config/termite/
.config/termite/*
!/.config/termite/config

!/.config/kitty/
.config/kitty/*
!/.config/kitty/kitty.conf

!/.config/systemd/
.config/systemd/*
!/.config/systemd/user
.config/systemd/user/*
!/.config/systemd/user/ssh-agent.service

